extends ../layout/default.pug

block title
  title pug-page

block append style
  link(type="text/css" rel="stylesheet" href="css/index-0d9dbb8f.css")

block append script
  script(src="js/index-48fca4fb.js")

block content
  div#root
  h1 pug
